* {
    font-family: 'Cabin', sans-serif;
    font-family: 'Rochester', cursive;
    cursor: default;
    text-decoration: none;
}

.logo {
    height: 180%;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px;
    background-color: rgb(74, 228, 187);
    border: 2px solid rgb(43, 149, 121);
    margin-bottom: 30px;
}

.enterbtn {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #0b90f6;
    font-size: 18px;
    border: none;
}

.enterbtn:hover {
    box-shadow: 0 0 0 2px #0b90f6, 0 0 0 4px #0b90f6;
}

.visitcreatebtn {
    display: none;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #0b90f6;
    font-size: 18px;
    border: none;
}

.asktologin {
    margin: 30px;
    font-size: 20px;
}

.authorization-template {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    width: 26%;
    height: 40%;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(74, 228, 187);
    margin-left: 540px;
    margin-top: 100px;
    display: none;
}

.authorization {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    gap: 10px;
}

.authimg {
    height: 10%;
    width: 10%;
}

.auth-cross {
    height: 25px;
    width: 25px;
    border: 1px solid grey;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Cabin', sans-serif;
}

.card-select {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-left: 560px;
    z-index: 999
}

.card-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.card-select select:hover {
    background-color: #f9f9f9;
}

.doctorModal {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;
    gap: 10px;
    border: 2px solid grey;
    box-sizing: border-box;
    padding: 20px;
}

.Cardiologist {
    display: none;
}

.Dentist{
    display: none;
}

.age {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.visitCardoverlay{
    display: none;
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.visitContainer {
    z-index: 999;
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

/* start visitCart-container */

.visitContainerCards {
    flex-wrap: wrap;
    gap: 10px;   
    display: none;
}

.visit-card {
    position: relative;
    width: calc(100% / 4);
    border: 5px solid rgb(74, 228, 187); 
    padding: 15px;
}

.name-client {
    color: #000;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 10px;   

}

.name-doctor {
    color: hsl(0, 15%, 18%);
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 10px;  
}

.visitCard-container-showMore {
    color: hsl(0, 15%, 18%);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.visit-card-button {
    
    width: 160px;
    height: 40px;
    margin-right: 5px;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #0b90f6;
    font-size: 18px;
    border: none;

}

.delete-card {
    position: absolute;
    background-image: url(../images/med.png);
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

.edit-form {
    display: none;
}

/* finish visitCart-container */


aside {
    position: fixed;
    right: 0;
    top: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 20px auto;
   
}
.form {
    border: 4px solid rgb(74, 228, 187);
}

.form-filter {
    display: none;
}